* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main Card */
.signup-card {
    width: 900px;
    display: flex;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    overflow: hidden;
}

/* Left Side */
.form-section {
    flex: 1;
    padding: 40px;
}

.form-section h2 {
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.input-group input:focus {
    outline: none;
    border-color: #007bff;
}

/* Buttons */
.btn-primary {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary:hover {
    background: #0056b3;
}

.divider {
    text-align: center;
    margin: 15px 0;
    font-size: 14px;
    color: #777;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.google-btn img {
    width: 18px;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

/* Right Side */
.image-section {
    flex: 1;
    background: #fdf5e6;
    padding: 40px;
    text-align: center;
    position: relative;
}

.image-section .brand {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}
.error-message{
    color:red;
    font-size:0.75rem;
    display: none;
}

.image-section h3 {
    margin-bottom: 20px;
    font-weight: 400;
}

.image-section img {
    width: 220px;
}

/* Responsive */
@media(max-width: 768px) {
    .signup-card {
        flex-direction: column;
        width: 95%;
    }

    .image-section {
        display: none;
    }
}
