body{
    font-family: Arial, sans-serif;
    background:#f4f6f8;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.signup-box{
    background:white;
    padding:40px;
    border-radius:10px;
    width:350px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
}

button{
    width:100%;
    padding:12px;
    border:none;
    background:#4CAF50;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.google-btn{
    background:#db4437;
    margin-top:10px;
}
